<div class="container bg-custom py-2">

    <h1>
        {{festival.title}}
    </h1>
    {{#if loggedUser}}
    <form action="/festivals/{{festival.id}}/assistance" method="POST" style="display: inline">
        <input type="submit" value="Assist Festival" class="btn btn-sm btn-dark">
    </form>
    {{!-- <form action="/festivals/{{festival.id}}/like" method="POST" style="display: inline">
        <input type="submit" value="Like Festival" class="btn btn-sm btn-dark">
    </form> --}}
    {{/if}}
    <hr>

    <div class="row">
        <div class="col-md-6" id="festival-img">
            <img class="w-100" src={{festival.imagFest}} alt="">
        </div>
        <div class="col-md-6">

            <h5 class="card-title"><strong>Category: </strong> {{festival.category}}</h5>
            <p><strong>Start Date: </strong>{{festival.start }}</p>
            <p><strong>End Date: </strong>{{festival.end }}</p>
            <p><strong>Venue: </strong>{{festival.venue }}</p>
        </div>
        <div class="group d-flex flex-row align-items-center my-3 gap-2 justify-content-end">
            {{#if userRole.isAdmin}}
            <p class="text-center  mb-0">
                <a href="/festivals/{{festival.id}}/edit" class="btn  btn-info">Edit Festival</a>
            </p>
            <form action="/festivals/{{festival.id}}/delete" method="POST">
                <input type="submit" value="Delete Festival" class="btn btn-danger">
            </form>
            {{/if}}

        </div>

        <input type="hidden" id="festivalID" value="{{festival.id}}">
        <input type="hidden" id="festivalTitle" value="{{festival.title}}">
        <input type="hidden" id="festivalLat" value="{{festival.location.coordinates.[1]}}">
        <input type="hidden" id="festivalLon" value="{{festival.location.coordinates.[0]}}">

        <div class="container">
            <div id="map"></div>
            <script src="/js/mapStyles.js"></script>
            <script src="/js/festivalsMap.js"></script>
            <script
                src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyBKibGFKW0vYTtfC84pjfHrr5wTD-U-Ye8">
                </script>
        </div>
        <div class="go-back">
            <p class="text-center mb-0"><a href="/festivals/list" class="btn btn-custom">Go back</a></p>
        </div>
    </div>

</div>