<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1 class="text-white">Edit Festival</h1>
            <hr>

            <form action="/festivals/{{id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-3 mt-5">
                    <label for="festivalTitle" class="form-label"><strong>Title</strong> </label>
                    <input type="text" class="form-control" id="festivalTitle" name="title" value="{{title}}">
                </div>

                <div class="mb-3">
                    <label for="festivalCateg" class="form-label"><strong>Category</strong></label>
                    <input type="text" class="form-control" id="festivalCateg" name="category" value="{{category}}">
                </div>

                <div class="mb-3 ">
                    <label for="festivalVenue" class="form-label"><strong>Venue</strong></label>
                    <input type="text" class="form-control" id="festivalVenue" name="venue" value="{{venue}}">
                </div>

                <div class="mb-3 ">
                    <label for="festivalStart" class="form-label"><strong>Start Date</strong></label>
                    <input type="date" class="form-control" id="festivalStart" name="start" value="{{start}}">
                </div>

                <div class="mb-3 ">
                    <label for="festivalEnd" class="form-label"><strong>End Date</strong></label>
                    <input type="date" class="form-control" id="festivalEnd" name="end" value="{{end}}">
                </div>

                <div class="mb-3">
                    <label for="imagFest" class="form-label"><strong>Image Festival</strong></label>
                    <input type="file" class="form-control" id="imagFest" name="imagFest">
                    <div class="form-text">INSERT PHOTO</div>
                </div>

                <div class="mb-3 ">
                    <label for="festivalLatitude" class="form-label"><strong>Latitude</strong></label>
                    <input type="text" class="form-control" id="festivalLatitude" name="latitude"
                        value="{{location.coordinates.[1]}}">
                </div>

                <div class="mb-3 ">
                    <label for="festivalLongitude" class="form-label"><strong>Longitude</strong></label>
                    <input type="text" class="form-control" id="festivalLongitude" name="longitude"
                        value="{{location.coordinates.[0]}}">
                </div>

                <button type="submit" class="btn btn-dark">Edit Festival</button>
            </form>

        </div>
    </div>
</div>