<div class="container">

    <h1 class="text-white">
        {{user.username}}
    </h1>
    {{#unless userRole.isOwner}}
    <p class="text-center">
    <form action="/users/{{user.id}}/like" method="POST" style="display: inline">
        <input type="submit" value="â¤" class="btn btn-sm btn-danger">
    </form>
    </p>
    {{/unless}}
    <hr>

    <div class="row">
        <div class="col-4" id="user-avatar">
            <img src={{user.avatar}} alt="">
        </div>
        <div class="col-8">

            <h5 class="card-title"><strong>Email:</strong> </h5>
            <p>{{user.email}}</p>
            <h5><strong>Desc: </strong></h5>
            <p>{{user.description}}</p>
            <h5><strong>Following: </strong></h5>
            <p>
                {{#each user.following}}
                <a href="/users/{{id}}"><img src=" {{avatar}}" class="following-avatars" alt=""></a>


                {{/each}}
            </p>


        </div>

        <div class="group d-flex flex-row align-items-center my-3 gap-2 justify-content-end">
            {{#if loggedUser}}
            <p class="text-center mb-0">
                <a href="/users/{{user.id}}/myfestivals" class="btn btn-success">Festivals</a>
            </p>
            {{/if}}

            {{#if userRole.isOwner}}
            <p class="text-center mb-0">
                <a href="/users/{{user.id}}/edit" class="btn btn-info">Edit Profile</a>
            </p>
            {{/if}}

            {{#if userRole.isAdmin}}
            <p class="text-center mb-0">
                <a href="/users/{{user.id}}/edit" class="btn btn-info">Edit Profile</a>
            </p>
            <form action="/users/{{user.id}}/delete" method="POST" style="display: inline">
                <input type="submit" value="Delete User" class="btn btn-danger">
            </form>
            {{/if}}
            {{#if userRole.isOwner}}
            <form action="/users/{{user.id}}/delete" method="POST" style="display: inline">
                <input type="submit" value="Delete User" class="btn btn-danger">
            </form>
            {{/if}}
            <p class="text-center mb-0"><a href="/users/list" class="btn btn-custom">Go back</a></p>
        </div>

    </div>

    <hr>

</div>