<div class="container">

    <h2 class="text-white">@USER LIST</h2>

    <hr>
    <div class="row">

        {{#each allUsers}}
        <div class="col-12 col-md-3 mb-3">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="body-text mb-5">
                        {{!-- <img src="{{avatar}}" alt=""> --}}
                        <h5 class="card-title"><strong>NAME: </strong></h5>
                        <p>{{username}}</p>
                    </div>

                    <a href="/users/{{id}}" class="btn btn-sm btn-custom">Details</a>
                </div>
            </div>
        </div>

        {{/each}}

        {{!-- {{#each allUsers}}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>NAME: </strong> {{username}}</h5>
                    <a href="/users/{{id}}" class="btn btn-sm btn-info">Details</a>
                </div>
            </div>
        </div>
        {{/each}} --}}

    </div>

    <hr>

    <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>

</div>