<div class="container">

    <h1>
        {{user.username}}
    </h1>
    {{#unless userRole.isOwner}}
    <p class="text-center">
    <form action="/users/{{user.id}}/like" method="POST" style="display: inline">
        <input type="submit" value="â¤" class="btn btn-sm btn-danger">
    </form>
    </p>
    {{/unless}}
    <hr>

    <div class="row">
        <div class="col-4" id="user-avatar">
            <img src={{user.avatar}} alt="">
        </div>
        <div class="col-8">

            <h5 class="card-title">Email: {{user.email}}</h5>
            <p><strong>Desc: </strong>{{user.description}}</p>

        </div>
        <div class="group d-flex flex-row align-items-center my-3 gap-2 justify-content-end">
            {{#if userRole.isOwner}}
            <p class="text-center mb-0">
                <a href="/users/{{user.id}}/edit" class="btn btn-info">Edit Profile</a>
            </p>
            {{/if}}

            {{#if userRole.isAdmin}}
            <p class="text-center mb-0">
                <a href="/users/{{user.id}}/edit" class="btn btn-info">Edit Profile</a>
            </p>
            <form action="/users/{{user.id}}/delete" method="POST" style="display: inline">
                <input type="submit" value="Delete User" class="btn btn-sm btn-danger">
            </form>
            {{/if}}
            {{#if userRole.isOwner}}
            <form action="/users/{{user.id}}/delete" method="POST" style="display: inline">
                <input type="submit" value="Delete User" class="btn btn-sm btn-danger">
            </form>
            {{/if}}
            <p class="text-center mb-0"><a href="/users/list" class="btn btn-dark">Go back</a></p>
        </div>

    </div>

    <hr>

</div>